
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
          Sign in to continue
        </div>
        <div class="card-body">
          <img class="col-md-6" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg">
          <h4 class="text-center">Shop Cart</h4>
          <form class="form-signin">
            <input type="text" class="form-control mb-2" placeholder="Email" name="email" [(ngModel)]="email" required autofocus>
            <input type="password" class="form-control mb-2" placeholder="Password" name="password" [(ngModel)]="password" required>
            <button class="btn btn-lg btn-primary btn-block mb-1" (click)="onLogin()" type="submit">Sign in</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <h1>Login Works</h1>

<div class="row justify-content-sm-center">
  <div class="col-sm-2 col-md-2">
    <button class="btn btn-lg btn-primary btn-block mb-1" type="btn" (click)="onLogin()">Sign in</button>
  </div>
  <div class="col-sm-2 col-md-2">
    <button class="btn btn-lg btn-primary btn-block mb-1" type="btn" (click)="acceptOrder()">confirm</button>
  </div>
</div> -->